* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.text-primary {
    color: #F00;
}

.btn {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    border: 1px solid white;
}

/* header styling */

header {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 20px auto;
    width: 1320px;
    height: 600px;
}

header>div {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

header>div>p {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

header>div>h2 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    text-align: center;
}

/* main styling */

main section {
    margin: 100px auto;
    width: 1320px;
}

/* discount section */

.discount-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.discount-section>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-section>p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-section>h4 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* party join section */
.party-join {
    background-image: url('../resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1320px;
    height: 600px;
}

.party-join>div {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 100px;
}

.party-join>div>h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
}

.party-join>div>p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.party-join>div>.join-btn {
    color: #FFF;
    background-color: #070211;
}

/* details section */

.details-section {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.details-section>h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.details-section>button {
    background-color: #F00;
    color: white;
    margin-top: 30px;
}

/* offer section */
.offer-section {
    margin: -0px auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 50px;
    padding: 10px 50px;
}

.offer-section>div:nth-child(1) {
    width: 393px;
}

.offer-section>div:nth-child(1)>.heading {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-section>div:nth-child(1)>h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.offer-section>div:nth-child(1)>.description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-section>div:nth-child(2) {
    border: 10px solid red;
    border-radius: 50%;
    padding: 20px;
}

.offer-section>div:nth-child(3)>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-section>div:nth-child(3)>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}

.offer-section>div:nth-child(3)>img {
    width: 140px;
    height: 140px;
}