* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* header styling */

header {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 20px auto;
    width: 1320px;
    height: 600px;
}

header>div {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

header>div>p {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

header>div>h2 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    text-align: center;
}

/* main styling */

main section {
    margin: 100px auto;
}

/* discount section */

.discount-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.discount-section>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-section>p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-section>h4 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* party join section */
.party-join {
    background-image: url('../resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1320px;
    height: 600px;
}

.party-join>div {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 100px;
}

.party-join>div>h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
}

.party-join>div>p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.party-join>div>button {
    color: #FFF;
    background-color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}